@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,700italic,400italic);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,400italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Roboto+Mono);
html,
body {
  min-width: 512px;
  min-height: 512px;
}
#Content,
input,
label,
.btn,
textarea {
  font-family: "Roboto";
}
input,
textarea {
  background: white;
}
.menu-icon {
  padding-left: 1rem;
}
/******************************/
div.group-entry {
  padding: 0.75rem 0.75rem 1rem;
  margin: 0.5rem;
  overflow: visible !important;
  cursor: pointer;
  font-size: 1.5em;
}
div.group-entry .name {
  /*height: 2em;*/
  font-weight: bold;
  color: white;
  -webkit-text-stroke: 0.75px black;
  text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 2px 0 #000000, 1px 2px 0 #000000;
  font-family: "Roboto Condensed";
}
div.group-entry .count {
  padding-left: 0.5rem;
  font-style: italic;
  font-size: 0.8rem;
  color: white;
  text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000;
}
div.group-entry .name.is_disabled {
  text-decoration: line-through;
}
div.group-entry .mdl-card {
  width: 485px;
  margin: 1rem;
}
div.group-entry .btn {
  display: inline-block;
  color: darkred;
  padding: 0.35rem;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  font-size: 0.85rem;
  font-weight: bold;
  cursor: pointer;
  transition: transform 50ms;
  text-transform: uppercase;
}
/*******************************/
#EditBox {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.65) 100%);
  /**************/
}
#EditBox label {
  font-weight: bold;
  color: darkgoldenrod;
  font-size: 0.9rem;
  display: block;
  padding-top: 0.5rem;
}
#EditBox .dialog {
  position: relative;
  width: 90%;
  background: linear-gradient(to bottom, #ffffff 0%, #eeeeee 80%, #bbbbbb 100%);
  z-index: 100;
  top: 50%;
  transform: translateY(-50%);
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 0px 8px black;
  padding: 1em;
  /*border       : 1px solid red;*/
}
#EditBox .dialog .group-disabled {
  color: #aaaaaa;
  background: #dddddd;
}
#EditBox .dialog .top-row {
  display: flex;
}
#EditBox .dialog .top-row .name {
  flex: auto;
  margin-right: 2rem;
}
#EditBox .dialog .top-row .name input[type="text"] {
  width: 100%;
}
#EditBox .dialog .top-row .colors {
  flex: 10%;
}
#EditBox .dialog .top-row .colors label input {
  display: block;
}
#EditBox .dialog .top-row .colors label {
  float: left;
  padding-right: 1rem;
}
#EditBox .dialog .top-row div {
  display: inline-block;
  float: left;
}
#EditBox .dialog .bottom-row {
  margin-top: 2rem;
}
#EditBox .dialog .bottom-row .left {
  float: left;
}
#EditBox .dialog .bottom-row .right {
  float: right;
}
#EditBox .dialog .bottom-row .btn {
  display: inline-block;
  color: darkred;
  padding: 0.35rem;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  font-size: 0.85rem;
  font-weight: bold;
  cursor: pointer;
  transition: transform 50ms;
  text-transform: uppercase;
}
#EditBox .dialog .bottom-row .btn:hover {
  color: red;
  transition: all 250ms;
}
#EditBox .dialog .bottom-row .btn-save:hover {
  color: #00cc00;
}
#EditBox .group-colors input {
  margin-left: 1rem;
  border: none !important;
  outline: none !important;
  padding: 0 !important;
  background: transparent !important;
  box-shadow: 0px 1px 4px #cccccc;
  border-radius: 3px;
  height: 2rem;
  width: 5rem;
}
#EditBox input[type="text"],
#EditBox textarea {
  border: none;
  box-shadow: 0px 0px 5px #cccccc;
  border-radius: 3px;
  font-size: 0.9rem;
  padding: 0.5rem;
  box-sizing: border-box;
  width: 100%;
  font-family: "Roboto Mono";
}
#EditBox textarea {
  font-size: 0.85rem;
  line-height: 1.2em;
  height: 150px;
}
.btn-new {
  display: block;
  position: fixed;
  right: 5%;
  bottom: 5%;
}
/******************************/
.clearfix {
  clear: both;
}
